= form_for [@survey, @question] do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-sm-10
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
    .col-sm-2
      .form-group
        = f.label :position
        = f.text_field :position, class: 'form-control'
        %small.form-text.text-muted
          Higher comes first.
  
  %h3 Responses
  #responses
    = f.fields_for :responses do |response|
      = render 'response_fields', f: response
    .links
      = link_to_add_association 'Add Response', f, :responses, class: 'btn btn-sm btn-info'

  %hr
  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Cancel', @survey, class: "btn btn-link"
