%h1.m-t-1
  Chat with
  = @conversation.customer.email

#messages{"data-conversation-id" => @conversation.id}
  = render @conversation.messages.by_recent

%hr
= form_for @message do |f|
  = f.hidden_field :conversation_id, value: @conversation.id
  .row
    .col-xs-10
      .form-group
        = f.text_field :text, class: 'form-control', placeholder: "Message", autocomplete: "off"
    .col-xs-2
      = f.submit "Send", class: 'btn btn-primary btn-block'
