= form_for @incident do |f|
  - if @incident.errors.any?
    #error_explanation
      %h2= "#{pluralize(@incident.errors.count, "error")} prohibited this incident from being saved:"
      %ul
        - @incident.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label "Type"
    = f.collection_select :incident_type_id, IncidentType.by_position, :id, :name, prompt: true

  .form-group
    = f.label :description
    = f.text_area :description, placeholder: "What happened?"
  / .form-group
  /   = f.label :start_time
  /   = f.datetime_select :start_time
  .form-group
    = f.label :location
    = f.text_field :location, placeholder: "San Francisco, CA"
  .form-group
    = f.label :reactions_list
    = f.text_field :reactions_list, placeholder: "Safe, Angry, Secure etc"
    %small.form-text.text-muted
      Seperate reactions by comma
  .form-group
    = f.label :tags_list
    = f.text_field :tags_list, placeholder: "Arrest, Citation, Shooting"
    %small.form-text.text-muted
      Seperate tags by comma
  .form-group
    = f.label :rating
    = f.number_field :rating, min: 1, max: 5
    %small.text-muted
      1 - 5 with 5 being best.
  / .form-group
  /   = f.label :latitude
  /   = f.text_field :latitude
  / .form-group
  /   = f.label :longitude
  /   = f.text_field :longitude
  %hr
  = f.submit 'Save', class: "btn btn-primary"
  = link_to 'Cancel', incidents_path, class: "btn btn-link"