.container
  .row.m-t-1
    .col-sm-12

      %p
        %b User:
        = @incident.user.uid
      %p
        %b Completed:
        = @incident.completed
      %p
        %b Race:
        = @incident.user.race.try(:name)
      %p
        %b Gender:
        = @incident.user.gender.try(:name)
      %p
        %b Birthday:
        = "Present" if @incident.user.birthday

      %p
        %b Type:
        = @incident.incident_type.try(:name)

      %p
        %b Description:
        = @incident.description
      %p
        %b Start time:
        = @incident.start_time
      %p
        %b Location:
        = @incident.location
      %p
        %b Address:
        = @incident.address
      %p
        = link_to "View Map", "http://maps.google.com/?q=#{@incident.latitude}, #{@incident.longitude}", class: "btn btn-info", target: "blank"
      %p
        %b Latitude:
        = @incident.latitude
        ,
        %b Longitude:
        = @incident.longitude

      %p
        %b Reactions:
        = @incident.reactions_list
      %p
        %b Tags:
        = @incident.tags_list
      %p
        %b Rating:
        = @incident.rating
      
      %p
        %b Attachments
        %ul.list-unstyled
          - @incident.attachments.each do |attachment|
            %li
              = link_to(image_tag(model_image(attachment.asset, 100, 100)), attachment) if attachment.asset_stored?

      = link_to 'Edit', edit_incident_path(@incident)
      \|
      = link_to 'Back', incidents_path