.container
  .row.m-t-1
    .col-sm-12

      %p
        %b User:
        = @incident.user.uid
      %p
        %b Description:
        = @incident.description
      %p
        %b Start time:
        = @incident.start_time
      %p
        %b Location:
        = @incident.location

      %p
        %b Rating:
        = @incident.rating
      %p
        = link_to "View Map", "http://maps.google.com/?q=#{@incident.latitude}, #{@incident.longitude}", class: "btn btn-info", target: "blank"
      %p
        %b Latitude:
        = @incident.latitude
        ,
        %b Longitude:
        = @incident.longitude

      = link_to 'Edit', edit_incident_path(@incident)
      \|
      = link_to 'Back', incidents_path
