%p
  %b User:
  = @incident.user.uid
%p
  %b Description:
  = @incident.description
%p
  %b Start time:
  = @incident.start_time
%p
  %b Location:
  = @incident.location
%p
  %b Rating:
  = @incident.rating
%p
  %b Latitude:
  = @incident.latitude
%p
  %b Longitude:
  = @incident.longitude

= link_to 'Edit', edit_incident_path(@incident)
\|
= link_to 'Back', incidents_path
