.container
  .row.m-t-1
    .col-sm-12
      %h1 Add Attachment

      = form_for @attachment, url: attachments_path, html: { multipart: true } do |f|
        .form-group
          = f.label :incident
          = f.collection_select :incident_id, @incidents, :id, :slug

        .form-group
          = f.label :asset
          = f.file_field :asset
          = f.hidden_field :retained_asset

        %hr
        = f.submit 'Save', class: "btn btn-primary"
        = link_to 'Cancel', incidents_path, class: "btn btn-link"
