!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %meta{:content => "http://www.reaheem.ai", :property => "og:url"} /
    %meta{:content => "article", :property => "og:type"} /
    %meta{:content => "Raheem is a Facebook Messenger chatbot that listens to your stories about police interactions.", :property => "og:title"} /
    %meta{:content => "Sharing your experiences with Raheem enables us to build the first national database of police performance open to the public.", :property => "og:description"} /
    %meta{:content => "http://i.imgur.com/6lcmonA.png", :property => "og:image"} /




    %title Seed
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/nav'
    = render 'shared/flash'
    
    = yield
